/*  your css code here. If applicable */
body {
	background: #f5f5f5;
}

header h2 {
	display: flex;
	justify-content: center;
	padding: 20px;
	background: #011e29;
	color: white;
}

.holder {
	display: flex;
	align-items: start;
	margin: 10px 20px;
}

.latest-news-section, .main-article-section, .pictorial-news-section {
	background: white;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	height: auto;
}

.latest-news-section {
	width: 110rem;
}

.pictorial-news-section {
	justify-content: center;
}

img {
	width: 11rem;
	margin: 20px 10px;
}